
{% load static %}
<html lang="{{language}}"  translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TramiTravel</title>
    
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    <link href="{% static 'css/icon.css' %}" rel="stylesheet">
    <link href="{% static 'css/flowbite.min.css' %}"  rel="stylesheet"/>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/flowbite.min.js' %}"></script>

    <script src="{% static 'js/cdn.tailwindcss.js' %}"></script>
    
    <link rel="stylesheet" href="/static/css/custom.css">
  </head>
  

  <body class="">

    <section class="mb-32 text-gray-800 flex flex-col items-center justify-center">
    
        <div class="relative overflow-hidden bg-no-repeat bg-cover w-full" style="background-position: 50%; background-image: url('/static/images/las_vegas.jpg'); height: 300px;">
        </div>
        
    
        <div class="container text-gray-800 px-4 lg:max-w-5xl">
          <div class="block rounded-lg shadow-lg py-10 md:py-12 px-4 md:px-12 flex flex-col justify-center" style="margin-top: -150px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px);">
            
            <div class="flex flex-col">
                <h1 class="font-bold text-3xl">I-134A, Solicitud en línea de apoyo financiero y declaración de apoyo financiero</h1>
                <p>Documentación que debe de envíar por email al "<a href="mailto:info@tramitravel.com" class="linkified">info@tramitravel.com</a>"</p>
                
                <h1 class="font-bold text-xl my-3">PATROCINADOR</h1>

                <ol class="relative border-l border-gray-200 dark:border-gray-700">                  
                    <li class="mb-6 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Paso 1:</time>
                        <h3 class="text-md font-semibold text-gray-900 dark:text-white">Copia de la residencia o ciudadanía.</h3>
                    </li>
                    <li class="mb-6 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Paso 2:</time>
                        <h3 class="text-md font-semibold text-gray-900 dark:text-white">Declaración de un funcionario del banco o de otras instituciones financieras con depósitos, en la que se indiquen los siguientes datos relativos a la cuenta:</h3>
                        <ul class="list-disc px-6">
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Fecha de apertura de la cuenta</li>
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Importe total depositado durante el último año</li>
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Balance actual</li>
                        </ul>
                    </li>
                    <li class="mb-6 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Paso 3:</time>
                        <h3 class="text-md font-semibold text-gray-900 dark:text-white">Carta de su empleador con firma, logo y cuño que muestre:</h3>
                        <ul class="list-disc px-6">
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Fecha y tipo de empleo</li>
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Salario pagado</li>
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Si el puesto es temporal o permanente</li>
                        </ul>
                    </li>
                    <li class="mb-6 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Paso 4:</time>
                        <h3 class="text-md font-semibold text-gray-900 dark:text-white">Copia de la última declaración federal de impuestos de EE.UU. presentada (transcripción fiscal)</h3>
                        
                    </li>
                    <li class="mb-6 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Paso 5:</time>
                        <h3 class="text-md font-semibold text-gray-900 dark:text-white">Pruebas adicionales:</h3>
                        <ul class="list-disc px-6">
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Colillas de cheques de los últimos 2 meses</li>
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Valor actual de la propiedad</li>
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Bonds</li>
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">CD’s</li>
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Valor de los carros en caso de varios</li>
                            <li class="text-base font-normal text-gray-500 dark:text-gray-400">Cualquier otro activo que pueda convertirse en efectivo</li>
                        </ul>
                    </li>
                </ol>

                <h1 class="font-bold text-xl my-3">BENEFICIARIO</h1>
                <ol class="relative border-l border-gray-200 dark:border-gray-700"> 
                    <li class="mb-3 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <h3 class="text-md font-semibold text-gray-900 dark:text-white">Pasaporte</h3>
                    </li>
                    <li class="mb-3 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <h3 class="text-md font-semibold text-gray-900 dark:text-white">Cuentas de Banco (si aplica)</h3>
                    </li>
                    <li class="mb-3 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <h3 class="text-md font-semibold text-gray-900 dark:text-white">Valor de la propiedad (si aplica)</h3>
                    </li>
                    <li class="mb-3 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <h3 class="text-md font-semibold text-gray-900 dark:text-white">Valor de otros activos en efectivo (si aplica)</h3>
                    </li>
                </ol>
                
            </div>
            <div class="flex flex-col">
                <h1 class="font-bold text-3xl mt-12 mb-6">Información sobre el Patrocinador</h1>
                <p>1. Tiene usted una cuenta en <a href="https://www.uscis.gov/" class="text-blue-600 dark:text-blue-500 hover:underline font-medium inline-flex items-center">USCIS.gov</a>?</p>
                <div class="flex flex-col px-3">
                    <div class="flex items-center my-3">
                        <input id="yes-account-uscis-radio" type="radio" value="yes" name="rt_ow" class="w-4 h-4 text-itravel-900 bg-gray-100 border-gray-300 focus:ring-itravel-500 focus:ring-2" onchange="alert(this.value)">
                        <label for="yes-account-uscis-radio" class="ml-2 text-sm font-medium text-gray-900">Si* (Entre la información en la próxima pregunta)</label>
                    </div>
                    <div class="flex items-center">
                        <input id="no-account-uscis-radio" type="radio" value="no" name="rt_ow" class="w-4 h-4 text-itravel-900 bg-gray-100 border-gray-300 focus:ring-itravel-500 focus:ring-2" onchange="">
                        <label for="no-account-uscis-radio" class="ml-2 text-sm font-medium text-gray-900">No* (Quisiera que creara una por mí)</label>
                    </div>
                    <div class="flex items-center my-3">
                        <input id="lose-account-uscis-radio" type="radio" value="no" name="rt_ow" class="w-4 h-4 text-itravel-900 bg-gray-100 border-gray-300 focus:ring-itravel-500 focus:ring-2" onchange="">
                        <label for="lose-account-uscis-radio" class="ml-2 text-sm font-medium text-gray-900">No Recuerdo</label>
                    </div>
                </div>
                <p class="mt-6">2. Email de la cuenta de <a href="https://www.uscis.gov/" class="text-blue-600 dark:text-blue-500 hover:underline font-medium inline-flex items-center">USCIS.gov</a>?</p>
                <input type="email" id="email" class="m-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escriba su respuesta" required>
  
                <p class="mt-6">3. Clave de la cuenta de <a href="https://www.uscis.gov/" class="text-blue-600 dark:text-blue-500 hover:underline font-medium inline-flex items-center">USCIS.gov</a>?</p>
                <input type="text" id="" class="m-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escriba su respuesta" required>
  
                <h1 class="font-bold text-3xl mt-6 mb-6">Información personal</h1>
                <p>Nombre y Apellidos:<i class="text-red-600 text-sm"> (Como aparecen en el Acta de Nacimiento)</i></p>
                <input type="text" id="" class="mx-3 mt-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escriba su respuesta" required>
                
                
                <p class="mt-6">Su nombre en el Acta de Nacimiento es exactamente igual al de su Documento Americano?</i></p>
                <div class="flex flex-col px-3">
                    <div class="flex items-center my-3">
                        <input id="yes-name-radio" type="radio" value="yes" name="rt_ow" class="w-4 h-4 text-itravel-900 bg-gray-100 border-gray-300 focus:ring-itravel-500 focus:ring-2" onchange="alert(this.value)">
                        <label for="yes-name-radio" class="ml-2 text-sm font-medium text-gray-900">Si* (Entre la información en la próxima pregunta)</label>
                    </div>
                    <div class="flex items-center">
                        <input id="no-name-radio" type="radio" value="no" name="rt_ow" class="w-4 h-4 text-itravel-900 bg-gray-100 border-gray-300 focus:ring-itravel-500 focus:ring-2" onchange="">
                        <label for="no-name-radio" class="ml-2 text-sm font-medium text-gray-900">No* (Quisiera que creara una por mí)</label>
                    </div>
                </div>

                <p class="mt-6">Nombre y Apellidos:<i class="text-red-600 text-sm"> (Como aparecen en el Documento Americano)</i></p>
                <input type="text" id="" class=" mt-3 mx-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escriba su respuesta" required>
                
                <p class="mt-6">Dirección Física:</i></p>
                <textarea id="message" rows="4" class="block mt-3 mx-3 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a comment..."></textarea>

                
                <p class="mt-6">Su Dirección Física es diferente a la Postal?</i></p>
                <div class="flex flex-col px-3">
                    <div class="flex items-center my-3">
                        <input id="yes-name-radio" type="radio" value="yes" name="rt_ow" class="w-4 h-4 text-itravel-900 bg-gray-100 border-gray-300 focus:ring-itravel-500 focus:ring-2" onchange="alert(this.value)">
                        <label for="yes-name-radio" class="ml-2 text-sm font-medium text-gray-900">Si* (Entre la información en la próxima pregunta)</label>
                    </div>
                    <div class="flex items-center">
                        <input id="no-name-radio" type="radio" value="no" name="rt_ow" class="w-4 h-4 text-itravel-900 bg-gray-100 border-gray-300 focus:ring-itravel-500 focus:ring-2" onchange="">
                        <label for="no-name-radio" class="ml-2 text-sm font-medium text-gray-900">No* (Quisiera que creara una por mí)</label>
                    </div>
                </div>
            </div>

          </div>
        </div>
    
    </section>

  </body>

  {% block scripts %} {% endblock scripts %}  
    <script type = "text/JavaScript">
    </script>
</html>