<html>
    <body>
        <h1>Notificación de reserva completada<h1>
        <p>Su reserva ha sido completada con exito, podra encontrar los voletos adjuntos al correo o desde el siguiente enlace <a href="http://localhost:8000/tickets/">http://localhost:8000/tickets/</a> <p>
        <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px;">Si tiene alguna pregunta o problema, no dude en ponerse en contacto con nuestro equipo de soporte.</p>
        <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px;">Atentamente,</p>
        <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px;">El equipo de TramiTravel</p>
    </body>
</html>

