<html>
    <body>
        <h1>Notificación de reserva completada<h1>
        <p style="font-size: 12px; line-height: 1.5; margin-bottom: 20px;">Su reserva ha sido completada con exito, podrá encontrar los voletos adjuntos al correo o desde el siguiente enlace <a href="https://tramitravel.com/tickets/">https://tramitravel.com/tickets/</a> <p>
        <p style="font-size: 12px; line-height: 1.5; margin-bottom: 20px;">Todos los pasajeros, vacunados o no, deben completar una <a target="_blank" href="https://dviajeros.mitrans.gob.cu/inicio"><u><strong>“</strong></u><u>Declaración Sanitaria del Viajero”</u></a> &nbsp; 48 horas antes de viajar a Cuba. Una vez completado el formulario, los pasajeros reciben un código QR por correo electrónico.</p>
        <p style="font-size: 12px; line-height: 1.5; margin-bottom: 20px;">Si tiene alguna pregunta o problema, no dude en ponerse en contacto con nuestro equipo de soporte.</p>
        <p style="font-size: 12px; line-height: 1.5; margin-bottom: 20px;">Atentamente,</p>
        <p style="font-size: 12px; line-height: 1.5; margin-bottom: 20px;">El equipo de TramiTravel</p>
    </body>
</html>

