{% extends 'base.html' %}
{% load static custom_filters %}

{% block styles %}
{% endblock styles %}

{% block content %}

<div class="flex items-center justify-center mt-20 mb-6">
    <div class="lg:flex w-full max-w-6xl p-3" >

        <div class="max-w-md lg:w-1/3 lg:mr-6 h-full mb-2 mt-4 bg-white rounded-lg shadow pt-3 pb-1 px-1 space-y-1" >
            <p class="text-lg text-center font-bold font-serif mb-2">Historial de pagos</p>
            {% if payments|length == 0 %}
            <p class="text-sm font-normal text-center">No existe historial de pagos</p>
            {% endif %}
            {% for payment in payments %}
            <div class="flex flex-col p-4 text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-400">
                <p class="ml-3 text-sm font-medium">Producto o servicio:<span class="ml-1 text-sm font-medium">{{payment.product}}</span></p>
                <p class="ml-3 text-sm font-medium">Monto:<span class="ml-1 text-sm font-medium">${{payment.ammount|toMoney}} USD</span></p>
                <p class="ml-3 text-sm font-medium">Fecha del pago:<span class="ml-1 text-sm font-medium">{{payment.date|date:"m/d/Y"}}</span></p>
                {% if payment.paid == None %}
                <p class="ml-3 text-sm font-medium">Estado:<span class="ml-1 text-sm font-medium text-orange-600">Por confirmar</span></p>
                {% elif payment.paid == True %}
                <p class="ml-3 text-sm font-medium">Estado:<span class="ml-1 text-sm font-medium text-green-600">Confirmado</span></p>
                {% else %}
                <p class="ml-3 text-sm font-medium">Estado:<span class="ml-1 text-sm font-medium text-red-600">Denegado</span></p>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class=" lg:w-2/3 p-1 md:p-4 h-full">
            <form class="relative rounded-lg shadow-md bg-white border" method="post" id="form-payment">  
                <div class="px-1 mb-2 mt-4">
                    <h3 class="mb-4 text-2xl font-bold font-serif text-itravel-900 text-center">Make payment</h3>
                    <div class="flex p-4 mb-4 mx-8 text-sm text-itravel-800 rounded-lg bg-itravel-50 dark:bg-gray-800 dark:text-itravel-400" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 mr-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                          <span class="font-medium">Productos o servicios por los que va a pagar:</span>
                            <ul class="mt-1.5 ml-4 list-disc list-inside">
                              <li>{{product}}</li>
                          </ul>
                        </div>
                    </div>

                    <div class="lg:px-8 mt-5">
                        <ol class="relative border-l border-gray-200 mx-2">
                            <li class="mb-5 ml-4">
                                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                                <time class="mb-1 text-sm font-normal leading-none text-gray-400">Step 1</time>
                                <h3 class="text-lg font-semibold text-gray-900">Put iTravel data</h3>
                                <p class="mb-4 text-base font-normal text-gray-500">Make the transfer to the following account:</p>
                                
                                <div class="flex w-auto">
                                    <svg class="w-5 h-5 mr-2 hover:text-itravel-700 focus:text-itravel-700 mt-0.5 cursor-pointer" id="copyEmail" onclick="copyToClickBoard('zelle@tramitravel.com','Email')" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"></path>
                                    </svg>
                                    <img class="w-4 h-4 mt-1 mr-3 hidden" id="successCopyEmail" src="/static/admin/img/icon-yes.svg" alt="True">
                                    <p class="text-base font-normal text-gray-700">Email: &nbsp</p>
                                    <p class="text-base font-normal text-gray-500">zelle@tramitravel.com</p>
                                </div>

                            </li>
                            <li class="mb-5 ml-4">
                                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                                <time class="mb-1 text-sm font-normal leading-none text-gray-400">Step 2</time>
                                <h3 class="text-lg font-semibold text-gray-900">Add the amount to transfer</h3>
                                <p class="text-base font-normal text-gray-500 ">In the transfer box, place the following amount:</p>
                                <h1 id="quantity-deposit" class="text-xl font-bold text-black text-left mt-2">${{ammount|toMoney}} USD</h1>
                            </li>
                            <li class="mb-5 ml-4">
                                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                                <time class="mb-1 text-sm font-normal leading-none text-gray-400">Step 3</time>
                                <h3 class="text-lg font-semibold text-gray-900">Add confirmation code</h3>
                                <p class="text-base font-normal text-gray-500 ">For greater security, in the message box put the following code:</p>
                                <h1 class="text-3xl font-bold text-black text-left mt-2">{{code}}</h1>
                            </li>
                            <li class="ml-4">
                                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                                <time class="mb-1 text-sm font-normal leading-none text-gray-400">Step 4</time>
                                <h3 class="text-lg font-semibold text-gray-900">Enter the details of the account from which you made the transfer</h3>
                                                                
                                <h3 class="text-sm font-semibold text-gray-900 mt-3">{{ strings.ticket_t17 }}</h3>
                                <div class="relative mt-1">
                                    <input type="email" name="emailPayment" id="emailPayment" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-itravel-600 focus:bg-gray-100 peer" placeholder=" " />
                                    <label for="emailPayment" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-itravel-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">{{ strings.ticket_t12 }}</label>
                                </div>
                                <p class="ml-6 text-sm font-normal leading-none text-gray-600 mt-2">{{ strings.or }}</p>
                                <div class="relative mt-2">
                                    <input type="number" name="phonePayment" id="phonePayment" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-itravel-600 focus:bg-gray-100 peer" placeholder=" " />
                                    <label for="phonePayment" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-itravel-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">{{ strings.ticket_t13 }}</label>
                                </div> 
                                <p class="text-sm font-normal text-red-600 mt-2 ml-2 hidden" id="alertZelleRequired">{{ strings.ticket_t16 }}</p>
                                <h3 class="text-sm font-semibold text-gray-900 mt-4">{{ strings.ticket_t18 }}</h3>
                                <div class="relative mt-1">
                                    <input type="text" name="zelle-owner" id="zelle-owner" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-itravel-600 focus:bg-gray-100 peer" placeholder=" " />
                                    <label for="zelle-owner" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-itravel-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">{{ strings.ticket_t19 }}</label>
                                </div> 
                            </li>
                        </ol>
            
                        {% csrf_token %}
                        <input class="hidden" name="code" value="{{code}}">
                        <input class="hidden" name="ammount" value="{{ammount}}">
            
                        <h3 class="text-sm font-semibold text-red-600 my-3">{{ message }}</h3>
                        <button id="btnLoginForContinue" type="button" onclick="" class="mt-6 w-full text-white bg-itravel-700 hover:bg-itravel-800 focus:ring-4 focus:outline-none focus:ring-itravel-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                            {% if request.user.is_authenticated %}hidden{% endif %}" data-modal-toggle="authentication-modal">
                            <span id="textRegisterPayment" class="font-bold">Register Refills</span>
                        </button>

                        <button id="btnRegisterRefills" type="button" onclick="registerPayment()" class="mt-6 w-full text-white bg-itravel-700 hover:bg-itravel-800 focus:ring-4 focus:outline-none focus:ring-itravel-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                        {% if not request.user.is_authenticated %}hidden{% endif %}">
                            <svg id="loadingRegisterPayment" aria-hidden="true" role="status" class="hidden inline mr-3 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                            </svg>
                            <span id="textRegisterPayment" class="font-bold">Register Payment</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% if success %}
<button data-modal-target="staticModal" data-modal-toggle="staticModal" class="hidden" type="button"></button>
<div id="staticModal" data-modal-backdrop="static" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full justify-center items-center flex" aria-modal="true" role="dialog">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">            
            <div id="alert-additional-content-3" class="p-4 mb-4 text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
                <div class="flex items-center">
                    <svg class="flex-shrink-0 w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <h3 class="text-lg font-medium">Registro de pago guardado satisfactoriamente</h3>
                </div>
                <div class="mt-2 mb-4 text-sm ml-7">Será notificado via cuando cuando se haya cumplido la tarea</div>
                <div class="flex justify-end">
                    <a href="{% url 'index' %}" class="text-white bg-green-700 hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-md px-4 py-2 mr-2 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        Aceptar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div modal-backdrop="" class="bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-40"></div>
{% endif %}

{% endblock content %}


{% block scripts %}
<script>
    function registerPayment(){
        if(document.getElementById("emailPayment").value == "" && document.getElementById("phonePayment").value == ""){
            alert("Es obligatorio proporcionar los datos de la cuenta Zelle");
        }
        else if(document.getElementById("zelle-owner").value == ""){
            alert("Es obligatorio proporcionar el nombre del propietario de la cuenta Zelle");
        }
        else{
            document.getElementById("form-payment").submit()
        }
    }
</script>
{% endblock scripts %}